body{
    margin: 0%;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(53, 58, 58);
    padding: 0px;
    margin: 0%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-flex;
    transition: background-color 0.5s ease;
}
.navbar a:hover{
    background-color: black;
}
.gallery{
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    width: 400px;
    vertical-align: top;
}
.gallery:hover{
    border: 1px solid rgb(255, 0, 0);
}
.gallery .gatotitle{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery img{
    width: 100%;
    /*height: var(--gallery-width);*/
    height: 400px;
    object-fit: cover;
}

.introduction{
    text-align: center;
    font-size: large;
}

.introduction img{
    width: 100%;
    height: 1000px;
    object-fit: cover;
}

#gatopedia-title{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
#gatopedia-title:hover{
    color: rgb(255, 14, 14);
    transition: color 0.5s ease-out;
}